.addForm {
    width: 400px;
}

.addButton {
    background: greenyellow;
    border-radius: 5px;
    color: black;
}

.saveButton {
    background: #19D4B2;
    border-radius: 5px;
    color: black;
}