.table {
    margin: 30px auto;
    border: 2px solid;
    border-collapse: collapse;
    width: 800px;
    background: #B9EAFA;
  }

  .deleteButton {
    background: #ed502d;
    border-radius: 5px;
    color: white;
  }

  .loading {
    margin: 700px;
  }
  
  td {
    border: 1px solid;
    text-align: center;
  }
  
  th {
    border: 1px solid;
    text-align: center;
  }

 